:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;;
}

mat-toolbar {
  background-color: #c2d4e7;
  justify-content: center;
}

.container {
  background-color: #e7eff5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 2rem;

  mat-accordion {
    width: 70vw;
    padding: 0.3rem;
    border-radius: 0.3rem;

    span {
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }

}

footer {
  background-color: #a5c6e9;
  color: #ececec;
  padding: 10px;
  text-align: center;

  a {
    text-decoration: none;
    color: #ececec;
    &:hover {
      color: #fafafa;
    }
  }
}
