<mat-toolbar class="header">
  <!-- <span>lakeFS - Open Issues on GitHub</span> -->
  <span> Open Issues <mat-icon svgIcon="angular"></mat-icon> GitHub API</span>
</mat-toolbar>

<div class="container">
@for(issue of allIssues; track issue) {
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <span>#{{ issue.number }}</span> {{ issue.title }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ issue.body }}</p>
    </mat-expansion-panel>
  </mat-accordion>
}

</div>

<mat-paginator [length]="totalIssues" [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 30]" (page)="onPageChange($event)"></mat-paginator>

<footer>
  <small>by <a href="https://monacodelisa.com" target="_blank">Esther White</a> | 08/14/2024</small>
</footer>
